* {
  font-family: 'Inter', sans-serif;
}

.navigation-bar-wide, .navigation-bar-medium {
  background-color: #2CA6A4;
  width: 650px;
  margin: 0 auto;
  height: 55px;
  padding-top: 8px;
  border-radius: 10px;
  border: 4px solid white;
  filter: drop-shadow(4px 5px 3px rgb(225, 208, 184));
}

.navigation-bar-medium {
  width: 500px;
}

.hi-there {
  font-family: 'Fredoka', sans-serif;
  font-size: 15px;
  /* margin-left: auto; */
  float: 'right';
  width: 250px;
  height: 30px;
  /* text-align: end; */
}

.hi-there p {
  margin-left: auto; 
  font-family: 'Fredoka', sans-serif;
  margin-top: 5px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-item {
  margin: 0 25px;
  font-size: 20px;
  text-shadow: 2px 2px #228f8d;
  /* filter: drop-shadow(4px 4px 1px #dfcfb9); */
}

.nav-item a {
  font-family: 'Fredoka', sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav-item a:hover {
  color: #ffd64f;
  text-shadow: 2px 2px #9b7a3d;
}

.component-logo {
  display: block;
  /* max-height: 25%; */
  max-width: 340px;
  animation-duration: .7s;
  animation-name: fadein;
}

.component, .game-card {
  border: 2px solid black;
  border-radius: 10px;
  background: #A79BC2;
  border-block-start: 5px solid #b6b1c4;
  border-inline-start: 5px solid #b4a5d8;
  border-inline-end: 5px solid #8579a1;
  border-block-end: 5px solid #776e8d;
  outline: 2px solid black;
  filter: drop-shadow(8px 10px 1px #D3C3AD);
  animation-duration: 0.8s;
  animation-name: comp-slidein;
}

@keyframes comp-slidein {
  from {
    margin-top: 50px;
  }
  to {
    margin-top: 0px;
  }
}

.button, .button-unpressed {
  border-radius: 5px;
  font-size: 25px;
  color: white;
  background-color: #41857B;
  /* border: 1px solid black; */
  border-block-start: 3px solid #a4bdb9;
  border-inline-start: 3px solid #5fb1a4;
  border-inline-end: 3px solid #256358;
  border-block-end: 3px solid #142e2a;
  outline: 1px solid black;
}

.button-unpressed {
  color: rgb(83, 148, 139);
  background-color: #315853;
  border-block-start: 3px solid #48aa9d;
  border-inline-start: 3px solid #51887f;
  border-inline-end: 3px solid #245f52;
  border-block-end: 3px solid #112422;
  outline: 1px solid rgb(75, 75, 75);
}

.input {
  border: 1px solid black;
  border-radius: 4px;
}

.game-card {
  width: 1000px;
  margin: 0 auto;
  padding: 25px;
  font-size: 20px;
}

@media screen and (max-width: 1030px) {
  .game-card {
    width: 600px;
  }
}

@media screen and (max-width: 770px) {
  .game-card {
    width: 600px;
  }
  .navigation-bar-wide {
    width: 500px;
    padding-top: 12px;
  }
  .nav-item {
    margin: 0 15px;
    font-size: 16px;
  }
}

/* .button-hover {
  background-color: red;
} */