.game-logo {
  margin: 50px 25px 25px 50px;
}

.memory-board {
  height: 600px;
  width: 600px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.memory-card {
  background-color: rgb(16, 68, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180deg);
  animation: 2s hideSquare linear;
  transition: transform 0.5s;
}

@keyframes hideSquare{
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.memory-card img {
  max-width: 100px;
  max-height: 100px;
  transform: scale(0);
  animation: 2s hideImage linear;
  transition: transform 0.5s;
}

@keyframes hideImage{
  0%, 70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.memory-card.active {
  transform: rotateY(0);
}

.memory-card.correct {
  background-color: rgb(187, 255, 85);
}

.memory-card.incorrect {  
  background-color: rgb(230, 93, 93);
}

.memory-card.active img {
  transform: scale(1);
}